In [1]:
import pandas as pd

from sklearn import ensemble
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingClassifier

In [12]:
df = pd.read_csv('final_data/final_data.csv')

In [13]:
df.head()

,item_id,brand,category,customer_id,age_range,marital_status,rented,family_size,no_of_children,income_bracket,date,quantity,selling_price,day,dow,month
0,1,1,6,230,2,0,0,2,0,5,2012-09-04,1,124.31,4,1,9
1,1,1,6,781,3,1,0,1,0,7,2012-06-06,1,124.31,6,2,6
2,7,56,11,637,3,1,0,1,0,6,2012-06-17,1,270.36,17,6,6
3,8,56,1,135,2,1,0,1,0,1,2013-06-06,1,60.91,6,3,6
4,10,56,6,637,3,1,0,1,0,6,2012-03-12,1,97.96,12,0,3

In [14]:
df.drop('date', axis=1, inplace=True)

In [15]:
df.drop('customer_id', axis=1, inplace=True)

In [16]:
le = LabelEncoder()
df['item_id'] = le.fit_transform(df['item_id'])

In [17]:
train, test = train_test_split(df)

In [18]:
tr_counts = train.item_id.value_counts()
items_to_delete = list(tr_counts.loc[tr_counts == 1].index)

In [19]:
test_counts = test.item_id.value_counts()
test_items_to_delete = list(test_counts.loc[test_counts == 1].index)

In [22]:
items_to_delete += test_items_to_delete

In [23]:
train = train[train['item_id'].map(lambda x: x not in items_to_delete)]
test = test[test['item_id'].map(lambda x: x not in items_to_delete)]

In [28]:
ytrain = train['item_id']
xtrain = train.drop('item_id', axis=1)
ytest = test['item_id']
xtest = test.drop('item_id', axis=1)

In [33]:
xtest.size

2369042

In [34]:
gbm = HistGradientBoostingClassifier(
    validation_fraction=0.2, n_iter_no_change=5, tol=0.01, random_state=0, n_jobs=1)
gbm.fit(xtrain, ytrain)

TypeError: __init__() got an unexpected keyword argument 'n_jobs'