In [2]:
import os
import pickle

import pandas as pd

In [3]:
data_dir = 'data_0419_0'

In [4]:
with open(os.path.join(data_dir, 'pickled_model_gbm_smote'), 'rb') as f:
    model = pickle.load(f)

In [6]:
df = pd.DataFrame({'cust_mean_buy_price':{'0':11.61,'1':11.61,'2':11.61},'cust_total_coupons':{'0':701,'1':701,'2':701},'cust_mean_discount':{'0':9.71,'1':9.71,'2':9.71},'cust_unique_products':{'0':1309,'1':1309,'2':1309},'cust_unique_products_coupon':{'0':485,'1':485,'2':485},'cust_total_products':{'0':2328,'1':2328,'2':2328},'coupon_discount':{'0':57,'1':18,'2':15},'coupon_how_many':{'0':1,'1':4,'2':2},'coupon_mean_prod_price':{'0':18.23,'1':12.39,'2':9.22},'coupon_prods_avail':{'0':641,'1':4,'2':1},'cust_age_young':{'0':0,'1':0,'2':0},'cust_age_mid':{'0':0,'1':0,'2':0},'cust_age_old':{'0':1,'1':1,'2':1},'cust_gender_F':{'0':1,'1':1,'2':1},'cust_gender_M':{'0':0,'1':0,'2':0},'coupon_type_buy_all':{'0':0,'1':1,'2':0},'coupon_type_buy_more':{'0':0,'1':0,'2':1},'coupon_type_department':{'0':1,'1':0,'2':0},'coupon_type_just_discount':{'0':0,'1':0,'2':0},'coupon_dpt_Boys':{'0':0,'1':0,'2':0},'coupon_dpt_Girls':{'0':0,'1':0,'2':0},'coupon_dpt_Men':{'0':0,'1':0,'2':0},'coupon_dpt_Sports':{'0':0,'1':0,'2':0},'coupon_dpt_Women':{'0':0,'1':0,'2':0}})

In [7]:
df

,cust_mean_buy_price,cust_total_coupons,cust_mean_discount,cust_unique_products,cust_unique_products_coupon,cust_total_products,coupon_discount,coupon_how_many,coupon_mean_prod_price,coupon_prods_avail,...,cust_gender_M,coupon_type_buy_all,coupon_type_buy_more,coupon_type_department,coupon_type_just_discount,coupon_dpt_Boys,coupon_dpt_Girls,coupon_dpt_Men,coupon_dpt_Sports,coupon_dpt_Women
0,11.61,701,9.71,1309,485,2328,57,1,18.23,641,...,0,0,0,1,0,0,0,0,0,0
1,11.61,701,9.71,1309,485,2328,18,4,12.39,4,...,0,1,0,0,0,0,0,0,0,0
2,11.61,701,9.71,1309,485,2328,15,2,9.22,1,...,0,0,1,0,0,0,0,0,0,0

In [8]:
preds = model.predict_proba(df)
preds

array([[0.00664419, 0.99335581],
       [0.00824361, 0.99175639],
       [0.00726665, 0.99273335]])